.header {
  background-color: var(--gray700);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .pageLogo {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 2rem;
    padding-bottom: 3.5rem;
  }

  .title {
    color: var(--mainblue);
    font-weight: 900;

    span {
      color: var(--mainpurpledark);
    }
  }
}
