.task {
  background-color: var(--gray500);
  width: -webkit-fill-available;
  border-radius: 8px;
  border: 1px solid var(--gray400);
  display: flex;
  justify-content: space-between;
  gap: 0.75rem;
  padding: 1rem;
  color: var(--gray100);

  .checkIcon {
    cursor: pointer;
    color: var(--mainblue);
    height: 24px;
    transition: color 0.1s;

    &:hover {
      color: var(--mainbluedark);
    }
  }

  .trashIcon {
    cursor: pointer;
    color: var(--gray300);
    padding: 0.25rem;
    border-radius: 8px;
    transform: translate(0.25rem, -0.25rem);

    &:hover {
      background-color: var(--gray400);
      color: var(--maindanger);
    }
  }
}

.taskCompleted {
  background-color: var(--gray500);
  width: -webkit-fill-available;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  gap: 0.75rem;
  padding: 1rem;
  color: var(--gray300);
  text-decoration: line-through;

  .checkIcon {
    cursor: pointer;
    color: var(--mainpurpledark);
    height: 24px;
    transition: color 0.1s;

    &:hover {
      color: var(--mainpurple);
    }
  }

  .trashIcon {
    cursor: pointer;
    color: var(--gray300);
    padding: 0.25rem;
    border-radius: 8px;
    transform: translate(0.25rem, -0.25rem);

    &:hover {
      background-color: var(--gray400);
      color: var(--maindanger);
    }
  }
}
